.container {
  padding: 0 2rem;
  position: relative;
  z-index: 5;
  background-color:rgba(0,0,0,0);
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1 {
  font-family: nunito-sans,sans-serif;
  font-size: min(18px, 6.4vw);
  letter-spacing: 0.4em;
  line-height: 1.9166666666666667;
  text-align: center;
}

.p2 {
  text-align: center;
  font-size: min(10px, 3.4vw);
  letter-spacing: 0.4em;
}

@media (min-width: 769px) {
  .p1 {
    font-size: 30px;
    line-height: 1.9333333333333333;
  }

  .p2 {
    font-size: 13px;
  }
}